.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.box{
  border-style: ridge;
  display: inline-block;
  padding:4px;
  background-color: white;
  height: 175px;
  width:400px;
  vertical-align: top;

}
.text_center{
  text-align: center;
}
select{
  display:block;
  margin:auto;
}
.standingbox{
  border-style: ridge;
  display: center;
  padding:4px;
  width: 300px;
}
.teamnamebox{
  width:200px;
  display:inline-block;
}
.winbox{
  width:50px;
  display:inline-block;
  color:blue;
  font-weight:900;
}
.losebox{
  
  display:inline-block;
  color:rgb(95, 2, 2);
  font-weight:900;
}
.titlebox{
  width:200px;
  display:inline-block;
  font-weight:900;
}
.conferencebox{
  display:inline-block;
  padding:10px;
  vertical-align: top;
}
.conferenceboxpad{
  display:inline-block;
  padding:10px;
  vertical-align: top;
  padding-left: 70px;
 
}
.standingsdisplaybox{
  justify-content: center;
  display:flex;
}
.footballfieldbackground{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/AmFBfield.svg/1200px-AmFBfield.svg.png");
  background-size: cover;
  text-align: center;
}
.teampickemboxes{
 
  text-align: center;
}
.logohandler{
  height:50px;
  width: 50px;
}
.displayname{
  
  
  font-weight:900;
}
.standingcolumn{
  vertical-align: top;
  padding:10px;
  display:inline-block;
  width:40%;
}
.teamcard{
  vertical-align: top;
  padding:10px;
  display:inline-block;
}
.cardlogohandler{
  height:150px;
  width: 150px;
}
.predictboxwin{
  display:inline-block;
  color:blue;
  font-weight:900;
  
}
.predictcontainer{
  border-style: ridge;
  display:inline-block;
  width:500px;
  vertical-align: top;
}
.predictboxloss{
  color:rgb(95, 2, 2);
  font-weight:900;
}